div(class='header-section')
  div(class='profile-group')
    a(href='#about-section')
      div(class='profile-holder')
        div(class='profile-text-top')
          span(class=profile-text) TEST
        div(class='profile-border')
          div(class='profile')
            div(class='front')
              img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497111813/sunset_sky_rzyaho.jpg' alt='Laszlo Tatai')
            div(class='back') Test
        div(class='profile-text-bottom')
          span(class=profile-text) TEST
    div(class='profile-holder')
      div(class='profile-text-top')
        span(class=profile-text) TEST
      div(class='profile-border')
        div(class='profile')
          div(class='front')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497111813/sunset_sky_rzyaho.jpg' alt='Laszlo Tatai')
          div(class='back') Test
      div(class='profile-text-bottom')
        span(class=profile-text) TEST
    div(class='profile-holder')
      div(class='profile-text-top')
        span(class=profile-text) TEST
      div(class='profile-border')
        div(class='profile')
          div(class='front')
            img(class='profile-pic' src='http://res.cloudinary.com/lacistijo/image/upload/v1497111813/sunset_sky_rzyaho.jpg' alt='Laszlo Tatai')
          div(class='back') Test
      div(class='profile-text-bottom')
        span(class=profile-text) TEST
