div(class='header-section')
  div(class='profile-group')
    a(href='#about-section')
      div(class='profile-holder')
        div(class='profile-text-top')
          span(class=profile-text) Who
        div(class='profile-border')
          div(class='profile')
            div(class='front')
              img(class='profile-pic' src='http://www.acapela-group.com/acapela-for-linux-embedded/wp-content/uploads/2015/08/raspberry_pi.jpg' alt='Laszlo Tatai')
            div(class='back') Test
        div(class='profile-text-bottom')
          span(class=profile-text) I Am
    div(class='profile-holder')
      div(class='profile-text-top')
        span(class=profile-text) What I do for
      div(class='profile-border')
        div(class='profile')
          div(class='front')
            img(class='profile-pic' src='http://www.acapela-group.com/acapela-for-linux-embedded/wp-content/uploads/2015/08/raspberry_pi.jpg' alt='Laszlo Tatai')
          div(class='back') Test
      div(class='profile-text-bottom')
        span(class=profile-text) Work
    div(class='profile-holder')
      div(class='profile-text-top')
        span(class=profile-text) What I do for
      div(class='profile-border')
        div(class='profile')
          div(class='front')
            img(class='profile-pic' src='http://www.acapela-group.com/acapela-for-linux-embedded/wp-content/uploads/2015/08/raspberry_pi.jpg' alt='Laszlo Tatai')
          div(class='back') Test
      div(class='profile-text-bottom')
        span(class=profile-text) Fun
